.memoji {
  aspect-ratio: 1/1;
  width: 10vw;
  position: relative;
  float: left;
}

.avatar {
  max-width: 100%;
}
.name-blurb {
  padding-left: 2em;
}

h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}
body {
  font-family: "Roboto Mono", monospace;
  margin: auto;
  align: center;
  max-width: 50vw;
  background-color: pink;
}

.container {
  background-color: white;
  border-radius: 25px;
}

.header {
  height: 100%;
}
.main-info {
  height: 100%;
  max-width: 30vw;
  margin: auto;
  position: absolute;
}
.sidebar {
  height: 100%;
  max-width: 20vw;
  margin: auto;
  float: right;
  position: relatie;
}

.footer {
  text-align: center;
}
